h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  font-size-adjust: auto;
}

h2 {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  font-size-adjust: auto;
}

label {
  font-family: sans-serif;
  font-size-adjust: auto;
  display: table-cell;
}

input {
  font-family: sans-serif;
  font-size-adjust: auto;
  display: table-cell;
}

select {
  font-family: sans-serif;
  font-size-adjust: auto;
}

form {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

p {
  display: table-row;
  margin-left: auto;
  margin-right: auto;
}

div.container1 {
  height: 10em;
  position: relative
}

div.container1 p {
  font-family: sans-serif;
  font-size-adjust: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

div.scroll_list {
  font-family: sans-serif;
  font-size-adjust: auto;
  margin-left: auto;
  margin-right: auto;
  border:2px solid #ccc;
  width:300px;
  height:100px;
  overflow-y: scroll;
}
/* Added Extra css */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: black;
}
::-webkit-scrollbar-thumb:hover {
  background:blue;
}
.green-hover:hover {
  font: solid;
  color: #6fe71e !important;
  border-bottom-color: #6fe71e !important;
}
.form-purple-border {
  border: 3px solid #5b1a83 !important;
  border-radius: 12px;
  color: #5b1a83 !important;
}
.bg-purple {
  background-color: #5b1a83 !important;
  opacity: 0.99;
}
.text-purple {
  color: #5b1a83 !important;
}
.btn-outline-purple {
  color: #5b1a83 !important;
  border-color: #662b9c !important;
  background-color: #fff;
  border: solid;
}
.btn-outline-purple:hover {
  color: #fff !important;
  background-color: #5b1a83 !important;
  border-color: #662b9c;
}
.dropbtn {
  color: #fff;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  border: 3px solid #000;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(68, 9, 122, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.login-container{
  margin-top: 5%;
  margin-bottom: 5%;
}
.login-form-1{
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
  text-align: center;
  color: #333;
}
.login-form-2{
  padding: 5%;
  background: #0062cc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
  text-align: center;
  color: #fff;
}
.login-container form{
  padding: 10%;
}
.btnSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.login-form-1 .btnSubmit{
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}
.login-form-2 .btnSubmit{
  font-weight: 600;
  color: #0062cc;
  background-color: #fff;
}
.login-form-2 .ForgetPwd{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.login-form-1 .ForgetPwd{
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}
.banner-bg{
	background-image:url('bg_2.jpg');
	background-size: cover;
	background-position:center; 
	background-repeat:	no-repeat; 
	background-attachment: fixed;
	
}
