<!DOCTYPE html>
<html lang= "en" dir= "ltr">

<!-- header stuff goes here -->
  <head>
    <meta charset = "utf-8">
    <title>Rate My Lab (Professor) - Welcome!</title>
    <link rel = "stylesheet" href = "/bootstrapcss/bootstrap.css"> 
    <link rel = "stylesheet" href = "/bootstrapcss/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"><!-- specifies to use css file for stylesheet -->
    <link href="/css/main.css" rel="stylesheet" type="text/css">
  </head>

  <!-- body stuff goes here -->
  <body>
    <a class="btn btn-primary " href="/index">Back</a><br> <!-- should log user out -->
    
    <div class="container login-container">
        <div class="row">
            <div class="col-12 login-form-2">
                <h3>Login for Form 2</h3>
                <form method="post" action="/login" class="col-12 col-lg-8 col-md-10">
                    <div class="form-group">
                        <h4 class="ForgetPwd font-weight-bold">Username </h4>
                        <input type="text" class="form-control" placeholder="Your Email *" value="" />
                    </div>
                    <div class="form-group">
                        <h4 class="ForgetPwd font-weight-bold">Password </h4>
                        <input type="password" class="form-control" placeholder="Your Password *" value="" />
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <input type="submit" class="btnSubmit" value="Login" />
                    </div>
                    <div class="form-group">

                        <a href="#" class="ForgetPwd" value="Login">Forget Password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>